<configuration>
    <!-- 常量-日志文件保留天数 -->
    <property name="LOG_MAX_HISTORY" value="30"/>
    <!-- 常量-日志文件最大占用 -->
    <property name="LOG_MAX_SIZE" value="100MB"/>
    <!-- 常量-文件型日志输出格式 -->
    <property name="LOG_FILE_OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5level [%10thread] %40.40logger{40}: %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%5level) %green([%10thread]) %boldMagenta(%40.40logger{40}): %cyan(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- 将DEBUG日志写出到文件 -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤器，只记录指定级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <!-- 今日日志 -->
        <File>${LOG_FILE}/today-debug.log</File>
        <!-- 日志滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志输出文件名 -->
            <FileNamePattern>${LOG_FILE}/%d{yyyyMMdd}-debug-%i.log</FileNamePattern>
            <!-- 历史日志保留天数 -->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
            <!-- 单文件最大占用 -->
            <MaxFileSize>${LOG_MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_FILE_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 异步处理DEBUG日志 -->
    <appender name="ASYNC_DEBUG" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 默认如果队列的80%已满，将丢弃TRACE、DEBUG、INFO日志，只保留WARN和ERROR日志。为了保留全部日志，设置为0 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度，该值会影响性能，默认值为256 -->
        <queueSize>1024</queueSize>
        <!-- 添加附加的appender，最多只能添加一个 -->
        <appender-ref ref="DEBUG_FILE"/>
    </appender>

    <!-- 将INFO日志写出到文件 -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤器，只记录指定级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <!-- 今日日志 -->
        <File>${LOG_FILE}/today-info.log</File>
        <!-- 日志滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志输出文件名 -->
            <FileNamePattern>${LOG_FILE}/%d{yyyyMMdd}-info-%i.log</FileNamePattern>
            <!-- 历史日志保留天数 -->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
            <!-- 单文件最大占用 -->
            <MaxFileSize>${LOG_MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_FILE_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 异步处理INFO日志 -->
    <appender name="ASYNC_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 默认如果队列的80%已满，将丢弃TRACE、DEBUG、INFO日志，只保留WARN和ERROR日志。为了保留全部日志，设置为0 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度，该值会影响性能，默认值为256 -->
        <queueSize>1024</queueSize>
        <!-- 添加附加的appender，最多只能添加一个 -->
        <appender-ref ref="INFO_FILE"/>
    </appender>

    <!-- 将WARN日志写出到文件 -->
    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤器，只记录指定级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <!-- 今日日志 -->
        <File>${LOG_FILE}/today-warn.log</File>
        <!-- 日志滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志输出文件名 -->
            <FileNamePattern>${LOG_FILE}/%d{yyyyMMdd}-warn-%i.log</FileNamePattern>
            <!-- 历史日志保留天数 -->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
            <!-- 单文件最大占用 -->
            <MaxFileSize>${LOG_MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_FILE_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 异步处理WARN日志 -->
    <appender name="ASYNC_WARN" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 默认如果队列的80%已满，将丢弃TRACE、DEBUG、INFO日志，只保留WARN和ERROR日志。为了保留全部日志，设置为0 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度，该值会影响性能，默认值为256 -->
        <queueSize>1024</queueSize>
        <!-- 添加附加的appender，最多只能添加一个 -->
        <appender-ref ref="WARN_FILE"/>
    </appender>

    <!-- 将ERROR日志写出到文件 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤器，只记录指定级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <!-- 今日日志 -->
        <File>${LOG_FILE}/today-error.log</File>
        <!-- 日志滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志输出文件名 -->
            <FileNamePattern>${LOG_FILE}/%d{yyyyMMdd}-error-%i.log</FileNamePattern>
            <!-- 历史日志保留天数 -->
            <MaxHistory>${LOG_MAX_HISTORY}</MaxHistory>
            <!-- 单文件最大占用 -->
            <MaxFileSize>${LOG_MAX_SIZE}</MaxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_FILE_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 异步处理ERROR日志 -->
    <appender name="ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 默认如果队列的80%已满，将丢弃TRACE、DEBUG、INFO日志，只保留WARN和ERROR日志。为了保留全部日志，设置为0 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度，该值会影响性能，默认值为256 -->
        <queueSize>1024</queueSize>
        <!-- 添加附加的appender，最多只能添加一个 -->
        <appender-ref ref="ERROR_FILE"/>
    </appender>

    <!-- 按 JSON 格式写出日志文件，用于 Alloy 采集 -->
<!--    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <File>${LOG_FILE}/json.log</File>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <FileNamePattern>${LOG_FILE}/json-%d{yyyyMMdd}-%i.log</FileNamePattern>-->
<!--            &lt;!&ndash; 本地只留1天 &ndash;&gt;-->
<!--            <MaxHistory>1</MaxHistory>-->
<!--            &lt;!&ndash; 单文件最大占用 &ndash;&gt;-->
<!--            <MaxFileSize>${LOG_MAX_SIZE}</MaxFileSize>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <timestamp/>-->
<!--                <logLevel/>-->
<!--                <loggerName/>-->
<!--                <message/>-->
<!--                <mdc/>-->
<!--                <arguments/>-->
<!--                <stackTrace/>-->
<!--                <threadName/>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- 异步处理JSON日志 -->
<!--    <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        &lt;!&ndash; 默认如果队列的80%已满，将丢弃TRACE、DEBUG、INFO日志，只保留WARN和ERROR日志。为了保留全部日志，设置为0 &ndash;&gt;-->
<!--        <discardingThreshold>0</discardingThreshold>-->
<!--        &lt;!&ndash; 更改默认的队列的深度，该值会影响性能，默认值为256 &ndash;&gt;-->
<!--        <queueSize>1024</queueSize>-->
<!--        &lt;!&ndash; 添加附加的appender，最多只能添加一个 &ndash;&gt;-->
<!--        <appender-ref ref="JSON_FILE"/>-->
<!--    </appender>-->

    <logger name="io.undertow" level="WARN"/>

    <!-- 默认日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_DEBUG"/>
        <appender-ref ref="ASYNC_INFO"/>
        <appender-ref ref="ASYNC_WARN"/>
        <appender-ref ref="ASYNC_ERROR"/>
        <appender-ref ref="ASYNC_JSON"/>
    </root>
</configuration>